.one-question {
  width: 800px;
  box-shadow: 0 0 10px #e50914;
  margin-bottom: 20px;
  padding: 10px;
}
.one-question section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.one-question h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 30px;
}
.one-question button {
  height: 40px;
  font-size: 18px;
  color: #e5e5e5;
  background: #e50914;
  transition: transform 0.25s linear;
  margin-right: 30px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}
.one-question button:hover {
  transform: scale(1.08);
}
.one-question p {
  margin: 0 20px 10px 30px;
}